@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

:root {
    --blacka: rgba(0,0,0, 0.8);
    --gray: rgb(68, 68, 68);
    --gray2: rgb(54, 54, 54);
    --gray3: rgb(110, 110, 110);
    --gray4: rgb(25, 24, 24);
    --gray5: rgb(222, 222, 222);

    --blue: rgb(49, 152, 255);
    --blue2: rgb(36, 153, 255);
    --blue3:rgb(50, 130, 210);
    --green: rgb(28, 187, 7);
    --red: rgb(213, 39, 39);

    --searcher: rgb(33, 35, 39);
    --bg2: rgb(22, 24, 28);
    --bg2Hover: rgb(28, 31, 35);

    --htext: 25px;
    --btext: 20px;
    --mtext: 18px;
    --stext: 14px;
}

html {
    color: white;
    margin: 0;
    font-size: 15px;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    width: 100%;
    display: flex; 
    flex-direction: row; 
    background-color: black; 
    overflow: hidden;
}

body > div {
    height: 100vh;
    width: 1px;
    background-color: var(--gray);
}

nav {
    position: relative;
    vertical-align: left;
    padding: 15px 0;
    padding-left: 75px;
    height: 95vh;
    overflow: hidden;
}

nav > img{
    display: block;
    width: 30px;
    padding: 0 0 10px 10px;
}

nav > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav > ul span{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 17px 15px;
    font-size: var(--btext);
    border-radius: 50px;
    margin: 0 100px 0 0;
}

nav > ul span:hover{
    background-color: var(--gray4);
    cursor: pointer;
}

nav > ul > span img{
    width: 25px;
    height: 25px;
    padding: 0 15px 0 0;
}

.tweetButton {
    margin-top: 20px;
    font-size: var(--mtext);
    font-weight: bold;
    background-color: var(--blue); /* Green */
    width: 225px;
    height: 50px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}

.profileLoging{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    width: 65%;
}

.profilePic{
    border-radius: 50%;
    margin-right: 15px;
    width: 47px;
    height: 47px;
}

.profileLoging img{
    border-radius: 50%;
    margin-right: 15px;
    padding: 0;
    width: 40px;
    height: 40px;
}

.profileLoging > div p{
    margin: 3px;
}

.profileLoging > div p:nth-child(2){
    color: var(--gray3);
}

.profileLoging > p{
    position: absolute;
    padding: 10px;
    right: 0;
}

main {
    margin: 0;
    flex: 1;
    overflow: scroll;
    height: 100vh;
}

.homeSquare{
    background-color: var(--blacka);
    position: sticky;
    top: 0;
    padding: 15px;
}

.homeSquare p{
    margin: 0;
    font-size: var(--btext);
    font-weight: bold;
}

.lineHor{
    height: 1px;
    width: 100%;
    background-color: var(--gray);
}

header > div{
    display: flex; 
    flex-direction: row; 
    margin: 15px;
}

.tweetText {
    width: 100%;
    /* height: 25px; */
    resize: vertical;
    border: none;
    background-color: black;
    color: white;
    font-size: var(--btext);
    margin-top: 10px;
}

.tweetText::placeholder {
    color: var(--gray3);
}

.tweetSpace{
    width: 100%;
}

.tweetSpace > div{
    height: 1px;
    width: 98%;
    background-color: var(--gray);
    margin: 10px 0;
    padding: 0;
}

.tweetSpace > span{
    display: flex;
    flex-direction: row; 
    align-items: center;
    position: relative;
    margin-top: 15px;
}

.tweetSpace > span > img{
    width: 25px;
    height: 25px;
    margin: 5px 5px;
}

.tweetSpace > span > button{
    position: absolute;
    right: 10px;
    width: 75px;
    height: 40px;
    font-weight: bold;
    font-size: 15px;
    background-color: var(--blue); /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 50px;
}

.tweetSpace > span > button:hover{
    background-color: var(--blue3);
}

.tweet{
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.tweet > div p{
    margin: 0 0 10px 0;
}

.tweet > div > div p{
    color: var(--gray3);
}

.tweet > div p:first-child{
    font-weight: bold;
    color: white;
}

.tweet > div div:first-child{
    display: flex; 
    flex-direction: row;
    gap: 10px;
}

.tweetOpc{
    display: flex; 
    flex-direction: row;
    gap: 15%;
    padding: 10px 0;
    color: var(--gray3);
}

.tweetOpc span{
    display: flex;
    flex-direction: row;
    margin: 0;
    transition: 0.2s linear;
}

.tweetOpc span:hover{
    cursor: pointer;
}

.tweetOpc span:nth-child(1):hover{
    color: var(--blue2);
}

.tweetOpc span:nth-child(2):hover{
    color: var(--green);
}

.tweetOpc span:nth-child(3):hover{
    color: var(--red);
}

.tweetOpc span:nth-child(4):hover{
    color: var(--blue2);
}

.tweetOpc span img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

button:hover{
    cursor: pointer;
    background-color: var(--blue3);
}

aside{
    overflow: scroll;
    height: 98vh;
    flex: 0.75;
}

.inputSquare{
    display: block;
    background-color: var(--blacka);
    z-index: 100;
    position: sticky;
    top: 0;
}

.searcher{
    width: 70%;
    height: 30px;
    border-radius: 50px;
    border: none;
    background-color: var(--searcher);
    padding: 10px 20px;
    margin: 2px 27px;
    font-size: var(--stext);
    color: var(--gray5);
}

.searcher:focus{
    color: var(--gray5);
}

aside > div{
    width: 80%;
    background-color: var(--bg2);
    padding: 0 0 0 0;
    border-radius: 15px;
    margin: 10px 0 15px 25px;
}

aside > div p{
    margin: 0;
}

aside > div > div{
    margin: 0;
    background-color: var(--bg2);
    border-radius: 15px;
}

aside > div > div > p:first-child{
    font-weight: bold;
    font-size: var(--btext);
    margin-bottom: 20px;
    padding: 15px 15px 0 15px;
}

.topNews{
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px 0;
    padding: 5px 15px;
}

.topNews img{
    position: absolute;
    right: 0;
    width: 65px;
    height: 65px;
    border-radius: 15px;
    margin-right: 15px;
}

.topNews > div{
    width: 75%;
}

.topNews > div p{
    font-weight: bold;
    margin: 5px 0;
}

.topNews > div p:first-child, .topNews > div p:last-child{
    color: var(--gray3);
    font-size: var(--stext);
    font-weight: normal;
}

.followAcc {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
}

.followAcc > div > p{
    font-weight: normal;
    color: var(--gray3);
    font-size: var(--stext);
    margin: 2px 0;
}

.followAcc > div > p:first-child{
    font-weight: bold;
    color: white;
    font-size: 15px;
}

.followAcc button{
    position: absolute;
    right: 15px;
    border: none;
    background-color: white;
    width: 75px;
    height: 30px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 13px;
}

.followAcc button:hover{
    background-color: var(--gray5);
}

.topNews:hover, .followAcc:hover{
    background-color: var(--bg2Hover);
    cursor: pointer;
}

footer a, footer{
    color: var(--gray);
    text-decoration: none;
    margin: 0;
    font-size: var(--stext);
    margin: 3px;
}

footer div{
    display: flex;
    flex-direction: row;
}

footer p{
    margin: 2px;
}

footer > div > p{
    margin-left: 2px;
}

aside > div a{
    display: inline-block;
    color: var(--blue);
    margin: 15px;
}